#BACKEND:
**/.venv/
**/__pycache__/

#DESKTOP:
/SpeechRecognition_example_desktop/bin/
/SpeechRecognition_example_desktop/obj/
*.csproj.user
*.suo
*.user
*.sln.docstates
.vscode/
.vs/
*.suo
*.user
*.userosscache
Thumbs.db
Desktop.ini
*~
*#
*.bak
db.lock
db.log
appsettings.json
appsettings.Development.json
secrets.json